@import url("https://fonts.googleapis.com/css2?family=Inter");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: rgb(24, 23, 23);
  font-family: "Inter", sans-serif;
}

$blackblue: #282b34;
$greenColor: #5DB075;
$whiteColor: #ffffff;
$white1: rgba(255, 255, 255, 0.1);
