.chat-home {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin-top: 32px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  h1 {
    font-size: 30px;
    color: black;
    line-height: 36px;
    font-family: "Inter";
    margin-bottom: 32px;
  }
  input {
    background-color: #f6f6f6;
    color: #BDBDBD;
    width: 100%;
    height: 50px;
    border: none;
    padding-left: 1rem;
    border-radius: 8px;
    margin: {
      top: 10px;
      bottom: 10px;
    };
    &:focus {
      outline: none;
    }
  }
  input, select, textarea{
    color: #020000;
  }
  
  textarea:focus, input:focus {
      color: #000000;
  }
  button {
    background-color: #5DB075;
    width: 100%;
    font-size: 16px;
    margin-top: 100px;
    padding: 16px 32px;
    border: none;
    border-radius: 100px;
    color: #fff;
    &:hover {
      cursor: pointer;
    }
  }
}
  