@import "../../globals";
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, $whiteColor, 50%)
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 10px;
  }

  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
.chat_wrap {
  width: 100%;
  height: 600px;
  background-color: $whiteColor;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_title {
    text-align: center;
    width: 100%;
    h2 {
      font-weight: 300;
      border-bottom: 1px solid $white1;
      padding-bottom: 1rem;
    }
  }
  .chat-msg {
    width: 100%;
    height: 90%;
    @include scrollbars(5px, $blackblue, $greenColor);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow-y: auto;

    &_msg {
      margin-left: 0px;
      max-width: 220px;
      padding-left: 0.5rem;

      p {
        font-size: 1rem;
        background-color: #E8E8E8;
        padding: 1rem;
        border-radius: 10px 10px 10px 1px;
        font-weight: 300;
        color: #b4b6be;
      }

      span {
        font-size: 0.6rem;
        font-weight: 200;
        color: #b4b6be;
        padding-left: 0.5rem;
      }
    }
    &_msg--right {
      margin-left: auto;
      margin-right: 0px;
      display: flex;
      flex-direction: column;
      max-width: 220px;
      padding-right: 0.5rem;
      p {
        text-align: end;
        border-radius: 10px 10px 1px 10px;
        background-color: $greenColor;
        color: $whiteColor;
      }
      span {
        width: 100%;
        text-align: end;
        padding-left: 0rem;
        padding-right: 0.5rem;
      }
    }
  }

  .sent_message_wrap {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: left;
    background-color: #F6F6F6;
    border-radius: 50px;
    input {
      width: 90%;
      text-decoration: none;
      border: none;
      font-size: 1rem;
      padding-right: 2rem;
      color: #BDBDBD;
      background-color: #F6F6F6;
      &:focus {
        outline: none;
      }
    }
  }
  .sent_message_icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-right: 8px;
    height: 100%;
  }
}
